*, *::before, *::after
  box-sizing: border-box

img
  max-width: 100%
  height: auto

.container
  width: 100%
  max-width: 1440px
  margin: 1rem auto

.container-grid
  display: grid
  grid-template-columns: 300px 1140px
  //border: 2px dashed rgba(114, 186, 94, 0.35)
  align-items: baseline
